/*@font-face {
    font-family: Lato;
    src: url(https://fonts.googleapis.com/css2?family=Lato&display=swap);
}*/

*{
    background-color: rgb(01,00,32);
    font-family: 'Lato', sans-serif;
    color: white;
}

#menu {
    visibility: hidden;
}
.header{
    display: flex;
    justify-content: center;
}
nav {
    display: flex;    
    justify-content: space-between;
    width: 50%;
}
nav a{
    display: flex;
    font-size: 1.25em;
}
#active{
    color: green;
}
#border{
    border-left: 1px solid white;
} 
.section{
    display: flex;
    justify-content: center;
    align-items: center;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;        
    width: 50%;
}
h1{
    margin-bottom: 1%;
    font-size: 60px;
}
article p{
    color: rgba(128, 128, 128, 0.8);
}
.section img{
    display: flex;
    flex-direction: column;
    align-items: center;
    width : 25%;  
}
div img{
    display:flex;
    margin: 60px;
}
nav a{
    display:flex;
    display: inline;
    justify:center;
    margin: 1em;
    padding: 2em;
    font-size: 1.30em;
    }
   #active{
        color: green;
    }
   #border{
       border-left: 1px solid white;
    }    
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* hit button */
#hit {
    position: absolute;
    top: 20%;
    left: 500px;
}

#hit img {
    width: 140px;
}
#hit button {
    border: none;
    background: rgba(128, 128, 128, 0);
    color: rgba(128, 128, 128, 0.5);
    font-size: 20px;
    position: relative;
    height: 20px;
    bottom: 110px;
    right: 100px;
}




/*Mobile & Tablet*/
@media only screen and (max-width:991.98px ) {
    /* menú (Falta interacción al abrir el menú) */
    header {
        display: flex;
        flex-direction: column;        
        width: 100%;
        align-items: center; 
        margin-bottom: 10%;
    }

    header img{
        width: 75%;
        display: flex;
        justify-content: center;
    }   
    .bmenu {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    } 
    
    #menu {   
        visibility: visible;     
        background-color:#00F582;
        width: 93px;
        height: 46px;
        border: none;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-end;
        padding-right: 10px;
    }

    #line{
        width: 15px;
        height: 2px;
        margin: 2px;
        display: flex;    
        background-color: white;
    }
    #line:nth-child(2){
        width: 10px;
    }
    nav a{
        visibility: hidden;
    }
    /* Section principal */

    section {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    section img {
        width: 85%;
        justify-self: center;
    }
    article {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h1 {
        font-size: 75px;
        margin-bottom: 1%;
        padding: 3%;
    }
    article p {
        font-size: 20px;
        color: rgba(128, 128, 128, 0.5);
    }

    #green {
        background-color: #00F582;
        width: 170px;
        height: 46px;
        border: none;
        border-radius: 25px;

    }

    /* hit button */
    #hit {
        z-index:99;
        position:static;
        margin-top: 10%;
        margin-left: 10%;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    #hit img {
        width: 50%;
    }
    #hit button {
        border: none;
        background: rgba(128, 128, 128, 0);
        color: rgba(128, 128, 128, 0.8);
        font-size: 20px;
        display: flex;
        justify-content:center;
        align-self: center;
        /* 
        position: relative;
        top: 115px;
        right: 180px;*/

    }

    /* footer */
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 15%;
    }
    h2 {
        font-size: 30px;
    }
    footer p {
        font-size: 20px;
        color: rgba(128, 128, 128, 0.5);
    }
    #white {
        background-color: white;
        color: black;
        width: 170px;
        height: 46px;
        border: none;
        border-radius: 25px;
    }

}