/*@font-face {
    font-family: Lato;
    src: url(https://fonts.googleapis.com/css2?family=Lato&display=swap);
}*/

*{
    background-color: rgb(01,00,32);
    font-family: 'Lato', sans-serif;
    color: white;
}

#menu {
    visibility: hidden;
}
.header{
    display: flex;
    justify-content: center;
}
nav {
    display: flex;    
    justify-content: space-between;
    width: 50%;
}
nav a{
    display: flex;
    font-size: 1.25em;
    display: flex;
    display: inline;
    margin: 1em;
    padding: 1em;
    font-size: 1.30em;
}
#active{
    color: green;
}
#border{
    border-left: 1px solid white;
} 
.section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}
.section img{
    display: flex;
    width:40%;
}
article {
    display: flex;
    flex-direction: column;
    align-items: center;        
    width: 50%;
}
#green {
    background-color: #00F582;
    width: 170px;
    height: 46px;
    border: none;
    border-radius: 25px;

}
h1{
    margin-bottom: 1%;
    font-size: 60px;
}
article p{
    color: rgba(128, 128, 128, 0.8);
}


#active{
    color: green;
}
#border{
    border-left: 1px solid white;
}    
#white {
    background-color: white;
    color: black;
    width: 170px;
    height: 46px;
    border: none;
    border-radius: 25px;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15%;
}
h2 {
    font-size: 30px;
}
footer p {
    font-size: 20px;
    color: rgba(128, 128, 128, 0.5);
}
footer p{
    font-weight: bold;
    color: #494665;
    letter-spacing: -0.025em;
    margin: 10px;
}
#white {
    background-color: white;
    color: rgb(17,16,23);
    font-weight:bold;
    width: 136px;
    height: 46px;
    border: none;
    border-radius: 25px;
}

h2 {
    margin: 0px;
    letter-spacing: 0.050em;

}
/*Mobile & Tablet*/


/* hit button */
#hitm {
    visibility: hidden; 
}
#hitd {
    visibility: visible; 
    position: absolute;
    left: 65.56%;
    top: 15%;
    background: transparent;
}

#hitd img {
    width: 85%;
    background: transparent;
}
#hitd button {
    border: none;
    background: rgba(128, 128, 128, 0);
    color: rgba(128, 128, 128, 0.5);
    font-size: 20px;
    position: absolute;
    top: 33%;
    right:10%;
    width: 100%;

}

/*Mobile & Tablet*/
@media only screen and (max-width:991.98px ) {
    /* menú (Falta interacción al abrir el menú) */
    header {
        display: flex;
        flex-direction: column;        
        width: 100%;
        align-items: center; 
        margin-bottom: 10%;
    }

    header img{
        width: 75%;
        display: flex;
        justify-content: center;
    }   
    .bmenu {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    } 
    
    #menu {   
        visibility: visible;     
        background-color:#00F582;
        width: 93px;
        height: 46px;
        border: none;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-end;
        padding-right: 10px;
    }

    #line{
        width: 15px;
        height: 2px;
        margin: 2px;
        display: flex;    
        background-color: white;
    }
    #line:nth-child(2){
        width: 10px;
    }
    nav a{
        visibility: hidden;
    }
    /* Section principal */

    section {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .section img {
        justify-self: center;
        width: 100%;
    }
    article {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h1 {
        font-size: 75px;
        margin-bottom: 1%;
        padding: 3%;
    }
    article p {
        font-size: 20px;
        color: rgba(128, 128, 128, 0.5);
    }

    #green {
        background-color: #00F582;
        width: 170px;
        height: 46px;
        border: none;
        border-radius: 25px;

    }

    /* hit button */
    #hitd {
        visibility: hidden; 
    }
    #hitm {
        visibility: visible; 
        margin-top: 10%;
        margin-left: 10%;
        display: flex;
        justify-content: center;
        align-content: center;
        position: relative;
    }
    #hitm img {
        width: 50%;
    }
    #hitm button {
        border: none;
        background: rgba(128, 128, 128, 0);
        color: rgba(128, 128, 128, 0.8);
        font-size: 20px;
        position: absolute;
        top: 40%;
        right:3%;
        width: 100%;
        /* 
        position: relative;
        top: 115px;
        right: 180px;*/

    }

    /* footer */
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 15%;
    }
    h2 {
        font-size: 30px;
    }
    footer p {
        font-size: 20px;
        color: rgba(128, 128, 128, 0.5);
    }
    #white {
        background-color: white;
        color: black;
        width: 170px;
        height: 46px;
        border: none;
        border-radius: 25px;
    }

}